{% extends 'Employer/EMPLOYER_DASH.html' %}

{% block content %}
<div class="card">
  <div class="card-body">


  <h2>Applications for "{{ job.title }}"</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>CV</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
        <tr>
          <td>{{ application.name }}</td>
          <td>{{ application.email }}</td>
          <td><a href="{{ application.cv.url }}" target="_blank">Download CV</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No applications found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
