{% extends "Admin/Admin_dash.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="card">
  <div class="card-body">
<table class="table table-hover table-bordered border-primary">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}
    <tr>
        <td scope="row">{{i.name}}</td>
        <td scope="row">{{i.mobile}}</td>
        <td scope="row">
            <form action="{% url 'delete_recruiter' i.id %}" method="POST" class="d-inline-block">
{% csrf_token %}
                <input type="submit" class="btn btn-danger" value="delete"/>
            </form>
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
      </div>
</div>
{% endblock %}
</body>
</html>