{% extends 'JobSeeker/USER_DASH.html' %}
{% block content %}
<div class="card" style="padding-top:10px">
      <div class="card" style="width: 70%; margin: 0 15%; margin-bottom: 10px; padding: 10px;">

  <h2>Applied Jobs</h2>
  {% if applied_jobs %}
    <ul>
      {% for job_application in applied_jobs %}
        <li>{{ job_application.job_post.title }}</li>
        <!-- Display other job details as needed -->
      {% endfor %}
    </ul>
  {% else %}
    <p>No applied jobs found.</p>
  {% endif %}
      </div>
</div>
{% endblock %}
