{% extends 'JobSeeker/USER_DASH.html' %}
{%load crispy_forms_tags %}

{% block content %}
<div class="card" style="padding-top:10px">
      <div class="card" style="width: 70%; margin: 0 15%; margin-bottom: 10px; padding: 10px;">

  <h2 style="text-align:center; padding-bottom:10px">Submit Application</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token%}
    {{ form|crispy  }}
    <input type="submit" value="Submit Application">
  </form>
      </div>
</div>
{% endblock %}

