{% extends 'JobSeeker/USER_DASH.html' %}

{% block content %}
  <div style="text-align: center;">
    <h1>Profile</h1>
    {% if user.profile_picture %}
      <img src="{{ user.profile_picture.url }}" style="border-radius: 50%; width: 100px; height: 100px;" alt="Profile Picture">
    {% endif %}
    <h1>Welcome, {{ user.username }}!</h1>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Birth Date: {{ user.birth_date }}</p>
    <p>Address: {{ user.address }}</p>
    <p>Mobile: {{ user.mobile }}</p>
    <p>Qualification: {{ user.qualification }}</p>
    <p>Work Experience: {{ user.work_experience }}</p>
  </div>
  <a href="profile" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-edit"></span> Edit Your Profile
  </a>
{% endblock %}
